.media {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 350px;
    padding: 5px;
    margin: 5px 0;
    background-color: #393E46;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;  
}
  
.media:hover {
  background-color: #EEEEEE;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 40%;
  }
}

.poster {
  border-radius: 10px;
  width: 200px;
  height: 250px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}

.date {
  padding-top: 2px;
  text-align: center;
}